/*Оформление адреса*/
.head-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;

  &-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $primary-text-color;
  }
}

.head-address-button {
  display: block;
  border: none;
  background-color: $text-button;
  color: $primary-text-color;
  border-style: none;
  padding: unset;
  cursor: pointer;
  outline: none;

  -webkit-transition-duration: 250ms;

  -o-transition-duration: 250ms;

  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
  &:hover .head-address-icon {
    fill: $accent-text-color;
  }
}
